APP_ENV=
DATABASE_URL=
E2E_SUPERADMIN_PASSWORD=
E2E_USER_PASSWORD=
NEXT_PUBLIC_DEMO_TEST_PASSWORD=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SEED_TEST_PASSWORD=
SEED_USER_PASSWORD=
SUPABASE_SERVICE_ROLE_KEY=